/*
 // ***************************************************************************************
 //		CLASS|TEMPLATE:
 //		/css/default.css
 //
 //		PURPOSE:
 //		Default styles for inclusion throughout the site
 //
 //		COPYRIGHT:
 //		Stephen G. 'Cutter' Blades, Jr. (c) 2009
 //
 //		LICENSE:
 //		Modification and use of this template, for any purpose, is strictly encouraged.
 //		There is no license, you are completely permitted to butcher in whatever
 //		fashion you see fit, just take my name off first to protect the horribly guilty.
 //
 //		CHANGE LOG:
 // ***************************************************************************************
 //		SGB [05.12.09]
 //		Template created
 // ***************************************************************************************
 */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit;
}

body {
	background: url("/images/main2-bg.jpg") repeat scroll center top transparent;
}

div#content {
	max-width: 940px;
	margin: 5px auto;
	border: 1px solid #E8E8E8;
    border-radius: 10px 10px 10px 10px;
	padding: 10px 20px;
	background-color: #FFF;
}

pre {
    background-color: #F7F7F7;
    border: 1px solid #E8E8E8;
    border-radius: 5px 5px 5px 5px;
    color: #314E64;
    font-family: "Menlo","Courier New","Courier",monospace;
    line-height: 1.3em;
    margin: 10px 0 14px;
    max-width: 900px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 20px;
}

.x-panel-body, .x-panel-body-noheader {
	padding: 5px;
	background-color: #E6E8E8;
	color: #000;
}

.demoGrids .x-grid { margin: 0 auto; }

div#content li { list-style: disc inside; }
